PORT=3000
API_HOST=http://localhost:3000
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_USER_COLLECTIONS=users
DB_REFRESH_TOKENS_COLLECTIONS=refresh_tokens
DB_CATEGORIES_COLLECTIONS=categories
DB_PRODUCTS_COLLECTIONS=products
DB_PURCHASES_COLLECTIONS=purchases
DB_ORDERS_COLLECTIONS=orders
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=100d
JWT_SECRET_ACCESS_TOKEN=your_access_secret
JWT_SECRET_REFRESH_TOKEN=your_refresh_secret
